<!-- views/index.ejs -->

<!doctype html>
<html lang="en">
<head>
    <title>Moviebot</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="../static/stylesheets/jumbotron.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Moviebot</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Login</a></li>
					<li><a href="/signup">Signup</a></li>
				</ul>
			</div><!--/.navbar-collapse -->
		</div>
	</nav>	
	<div class="jumbotron text-center">
		<h1>Moviebot</h1>
		<p>Build a list of movies you want to watch and compare streaming services based on your list</p>
	</div>

	<div class="container">
	<div class="container">
		<p> We're sorry. We've encountered an error that we can't recover from. Please try <a href="/">returning to the welcome page.</a> </p>
		<!-- <p> <%= error.stack %> </p> -->
	</div>
</body>
</html>