<!-- views/login.ejs -->

<!doctype html>
<html lang="en">
<head>
    <title>Moviebot</title>
 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link type="text/css" rel="stylesheet" href="../static/stylesheets/stylesheet.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
		<h1>Moviebot</h1>
		<p>Build a list of movies you want to watch and compare streaming services based on your list</p>
	</div>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>Login</h1>
			<!-- show any messages that come back with authentication -->
			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
			<% } %>
			<!-- LOGIN FORM -->
			<form action="/login" method="post">
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" name="email">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password">
				</div>
				<button type="submit" class="btn btn-default">Login</button>
			</form>
			<hr>
			<p>Need an account? <a href="/signup">Signup</a></p>
			<p>Or go <a href="/">to the home page</a>.</p>
		</div>
	</div>
</body>
</html>